{% extends 'base.html.twig' %}

{% block body %}
   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

	    	<h1>Register Your App</h1>

	    	<p>The FreeGeo API project is intended to help provide geo abilities to developers at no cost. The API has several sections with documentaion and code examples in PHP and Python. We are constanlty improving the API and adding new abilities as we go. Follow the <a href="http://twitter.com/FreeGeoAPI" target="_blank">@FreeGeoAPI</a> and <a href="http://twitter.com/YupItsZac" target="_blank">@YupItsZac</a> for updates and news.</p>

	    	<p>While the API is completely free, we do require that your application be registered in order to obtain API credentials. Registration is free and instant. Just complete the form below.</p>

	    	<div class="col-md-6">

		    	{{ form(form) }}

	    	</div>
	   </div>

    </div>



{% endblock %}
