{% extends 'base.html.twig' %}

{% block body %}
   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

	    	<h1>Registration Successful</h1>

	    	<p>Thanks for registerring your <b>{{appName}}</b> app! We have sent your API credentials in an email to <b>{{email}}</b>. Follow <a href="http://twitter.com/FreeGeoAPI" target="_blank">@FreeGeoAPI</a> and <a href="http://twitter.com/YupItsZac" target="_blank">@YupItsZac</a> for updates and news.</p>

	    	<p>Currently, the FreeGeo API does not have an account portal to manage your applications. There are plans to add one, but we need to focus more on API functionality for now. If you need to reset your API keys, do that via an API request <a href="{{ url('free_geo_reset') }}">here</a>.</p>

	   </div>

    </div>



{% endblock %}
