</div>

<script>

    $(document).ready(function() {

        $('#php').fadeIn();

        $(".tabs-menu a").click(function(event) {
            event.preventDefault();
            $(this).parent().addClass("current");
            $(this).parent().siblings().removeClass("current");
            var tab = $(this).attr("href");
            $(".tab-content").not(tab).css("display", "none");
            $(tab).fadeIn();
        });
    });

</script>

<footer class="footer">
    <div class="container">
        <div class="col-md-6">
            <p class="text-muted">&copy; 2015 - 2016 FreeGeo API. All rights reserved.</p>
        </div>

        <div class="col-md-6">
            <p class="pull-right">
                <a href="http://www.digitalocean.com" target="_blank"><img class="do hidden-xs" src="{{ asset('bundles/yupitszacfreegeo/images/do.png') }}"></a>
            </p>
        </div>
    </div>
</footer>

</body>
</html>