{% extends 'base.html.twig' %}

{% block body %}
   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

			<img src="{{ asset('bundles/yupitszacfreegeo/images/banner.jpg') }}" class="img-responsive geobanner">

	    	<h1>FreeGeo API</h1>

	    	<p>The FreeGeo API is a completely free and totally open sourced API that enables developers to add geo-abilities to their applications at no cost to them. The geospatial data that FreeGeo manipulates is based off the work over at the <a href="https://github.com/delight-im/FreeGeoDB">FreeGeoDB</a> Github project.</p>


	    	<div class="col-md-6">

		    	<h3>Authenticate</h3>

		    	<p>An overview of the methods used to authenticate your app against the FreeGeo API. Example code included.</p>

		    	<h3>Making Requests</h3>

		    	<p>Learn how to make requests and consume data from the FreeGeo API using your app API keys.</p>

	    	</div>

	    	<div class="col-md-6">

		    	<h3>Contribute</h3>

		    	<p>The FreeGeo API is totally free, and totally open source. We need help is many areas to keep this API available.<br><a href="https://github.com/YupItsZac/FreeGeoAPI" target="_blank">Contribute on Github</a></p>

		    	<h3>SDK Development</h3>

		    	<p>We are currently working on various SDKs for PHP, Python and Javascript to interact with the FreeGeo API. </p>

	    	</div>
	   </div>

    </div>


{% endblock %}
