{% extends 'base.html.twig' %}

{% block body %}
   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

	    	<h1>FreeGeo API</h1>

	    	<p>The FreeGeo API is completely free and based on the geo points collected at the Github repo.</p>

	    	<p>While the API and any associated services are free, registration of your application is required to obtain API credentials. You will receive an API public, and secret key set via email after app registration.</p>

	    	<div class="col-md-6">

		    	<h3>Authenticate</h3>

		    	<p>An overview of the methods used to authenticate your app against the FreeGeo API. Example code included.</p>

		    	<h3>Making Requests</h3>

		    	<p>Learn how to make requests and consume data from the FreeGeo API using your app API keys.</p>

	    	</div>

	    	<div class="col-md-6">

		    	<h3>Contribute</h3>

		    	<p>We aren't yet ready for API contributors, but they are always looking for contributors over at the <a href="https://github.com/delight-im/FreeGeoDB" target="_blank">FreeGeo DB</a> Github project.</p>

		    	<h3>SDK Development</h3>

		    	<p>We are currently working on various SDKs for PHP, Python and Javascript to interact with the FreeGeo API. </p>

	    	</div>
	   </div>

    </div>

    <div class="row mbot">

	    <div class="content col-md-8 col-md-offset-2">

	    	<h1>Usage Limits</h1>

	    	<p>Resources are expensive, and this API is completely free. We don't charge you to make requests and consume data, but we still pay for server space, bandwidth, domains, etc. This is why we limit each app to a maximum of <b><i>1,000</i></b> requests per 24 hour period. This helps save our server resources and ensures we don't go over budget.</p>

	    </div>

	</div>


	<div class="row mbot">

		<div class="content col-md-8 col-md-offset-2">

	    	<h1>Credits</h1>

	    	<p>The FreeGeo API and associated SDKs were designed and developed by <a href="http://www.yupitszac.com" target="_blank">Zac Brown</a>. Check out Zac's website to see the other projects he is working on. Also, don't forget to connect with Zac on <a href="http://www.github.com/YupItsZac" target="_blank">Github</a> and <a href="http://www.twitter.com/YupItsZac" target="_blank">Twitter</a>.</p>

	    	<p>The geo data that FreeGeo API serves and manipulates is based off the work over at the <a href="https://github.com/delight-im/FreeGeoDB">FreeGeoDB</a> Github repo by <i>delight-im</i>. This repo is an open project that provides a large collection of geographic place names and corresponding geospatial data in various formats including JSON, XML, and SQL.</p>
	    </div>
	</div>

{% endblock %}
