{% extends 'base.html.twig' %}

{% block body %}
   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

		<h1>API Status Report</h1>

		<b>All services online and operating.</b>

		</div>

	</div>


{% endblock %}
