{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

	<div class="container">
		<p>Service Status</p>
	</div>

</div>

<div class="container">
	<div class="mtop30"></div>
	<div class="row">

		<div class="col-md-1"></div>

		<div class="col-md-10">

			<h1>API Status Report</h1>

			<p>{{ serviceNote }}</p>

			<table class="table">
				<thead>
				<tr>
					<th>Service</th>
					<th>Endpoint</th>
					<th>Status</th>
				</tr>
				</thead>
				<tbody>

				{% for key,value in servicesStatus %}

					<tr class="{% if value.Class == 'serviceOnline' %}success{% else %}danger{% endif %}">
						<td>{{ key }}</td>
						<td>{{ value.Endpoint }}</td>
						<td>{{ value.Status }}</td>
					</tr>
				{% endfor %}

				</tbody>
			</table>

		</div>
		<div class="col-md-1"></div>
	</div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}

