{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}

<div class="container-fluid miniBar whitefont">

	<div class="container">
		<p>Docs: Authenticate</p>
	</div>

</div>

<div class="mtop30"></div>

<div class="container content">

	<div class="row">

		<div class="col-md-3">
			{% include 'YupItsZacFreeGeoBundle:Docs:sidebar.html.twig' %}
		</div>

		<div class="col-md-7">

			<div class="row">

				<div class="col-md-12">

					<div class="row">

						<h1>Session Authentication</h1>

						<p>The FreeGeo API is free, but requires applications to be identified before consuming any geo data. This document assumes you have already registered your application and located your API keyset in the developer dashboard.</p>

						<h3>Request Token</h3>

						<p>The first step is to request a session token. This token is formulated based on your public/private keyset.</p>

						<p><b>Method:</b> POST | <b>Response:</b> JSON | Endpoint: <b><i>/api/authenticate/session</i></b></p>

						<h4>Parameters</h4>

						<p>The following parameters are <b><i>required</i></b> to authenticate your application with the FreeGeoDB API.</p>

						<p>
							<ul>
								<li><b>public</b> - This is the PUBLIC key generated when you register your application.</li>
								<li><b>private</b> - This is the PRIVATE key generated when you register your application.</li>
							</ul>
						</p>

					</div>

					<div class="row">
						<h4>Authenticate - Example</h4>

						<button data-target="php-example" class="tab btn btn-primary btn-custom btn-sm snippet-btn">PHP Snippet</button>
						<button data-target="python-example" class="tab btn btn-primary btn-custom btn-sm snippet-btn">Python Snippet</button>
					</div>

					<div class="row">
						<p class="muted">NOTE: The keyset used here will not work against the production API</p>

						<div id="php-example" class="example">
							{% include 'YupItsZacFreeGeoBundle:Docs/Examples/PHP:auth.html.twig' %}
						</div>

						<div id="python-example" class="example">
							{% include 'YupItsZacFreeGeoBundle:Docs/Examples/Python:auth.html.twig' %}
						</div>

					</div>

				</div>

				<hr/>

				<div class="fb-comments" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-width="100%" data-numposts="5"></div>

				<div class="col-md-2"></div>

			</div>

		</div>
	</div>
</div>

{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}