{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}

<div class="container-fluid miniBar whitefont">

    <div class="container">
        <p>Docs: Distance Calculation</p>
    </div>

</div>

<div class="mtop30"></div>

<div class="container">

    <div class="row">

        <div class="col-md-3">
            {% include 'YupItsZacFreeGeoBundle:Docs:sidebar.html.twig' %}
        </div>

        <div class="col-md-7">

            <div class="row">

                <div class="col-md-12">

                    <div class="row">

                        <h1>Distance Calculation</h1>

                        <p>The Distance Calculation endpoint of the FreeGeo API enables developers to easily calculate the distance in miles, kilometers, or nautical miles between two sets of geographical coordinates. This document assumes you've already authenticated your app and received a session token.</p>

                        <p><b>Method:</b> POST | <b>Response:</b> JSON | Endpoint: <b><i>/api/calculate/distance</i></b></p>

                        <h4>Parameters</h4>

                        <p>The following parameters are <b><i>required</i></b> to make a successful request.</p>

                        <p>
                            <ul>
                                <li><b>session</b> - The session token generated when your app was authenticated.</li>
                                <li><b>lata</b> - The lattitude coord of the first given point.</li>
                                <li><b>lona</b> - The longitude coord of the first given point.</li>
                                <li><b>latb</b> - The lattitude coord of the second given point.</li>
                                <li><b>lonb</b> - The longitude coord of the second given point.</li>
                                <li><b>metric</b> - The metric for distance. m = miles, n = nautical miles, k = kilometers.</li>
                                <li><b>round</b> - *optional: Specify how many decimals to round the distance result to. If not specified, distance will be raw.</li>
                            </ul>
                        </p>

                    </div>

                    <div class="row">
                        <h4>Distance Calculation - Example</h4>

                        <button data-target="php-example" class="tab btn btn-primary btn-custom btn-sm snippet-btn">PHP Snippet</button>
                        <button data-target="python-example" class="tab btn btn-primary btn-custom btn-sm snippet-btn">Python Snippet</button>
                    </div>

                    <div class="row">
                        <p class="muted">NOTE: The keyset used here will not work against the production API</p>

                        <div id="php-example" class="example">
                            {% include 'YupItsZacFreeGeoBundle:Docs/Examples/PHP:distance.calculation.html.twig' %}
                        </div>

                        <div id="python-example" class="example">
                            {% include 'YupItsZacFreeGeoBundle:Docs/Examples/Python:distance.calculation.html.twig' %}
                        </div>

                    </div>

                </div>

                <hr/>

                <div class="fb-comments" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-width="100%" data-numposts="5"></div>

                <div class="col-md-2"></div>

            </div>

        </div>
    </div>
</div>

{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}
