{% extends 'base.html.twig' %}

{% block body %}
   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

		<h1>FreeGeo API: Making Requests -> Detect Timezone</h1>

		<p>The Detect Timezone endpoints adds the ability to determin which timezone a given coordinate is in, and retreive information about that timezone. This document assumes you've already authenticated your app and received a session token.</p>

		<p><b>Method:</b> POST | <b>Response:</b> JSON | Endpoint: <b><i>/api/detect/timezone</i></b></p>

		<h4>Parameters</h4>

		<p>The following parameters are <b><i>required</i></b> to make a successful request.</p>

		<p>
			<ul>
				<li><b>session</b> - The session token generated when your app was authenticated.</li>
				<li><b>lat</b> - The lattitude coord of the given point.</li>
				<li><b>lon</b> - The longitude coord of the given point.</li>
			</ul>
		</p>

		<hr/>

		<h4>Detect Timezone - Example</h4>

		<div id="tabs-container">
		    <ul class="tabs-menu">
		        <li class="current"><a href="#php">PHP</a></li>
		        <li><a href="#python">Python</a></li>
		        <li><a href="#response">Response</a></li>
		    </ul>
		    <div class="tab">
		        <div id="php" class="tab-content">
		            <script src="https://gist.github.com/YupItsZac/6f638c2a33c82173a090.js"></script>
		        </div>
		        <div id="python" class="tab-content">
		            <script src="https://gist.github.com/YupItsZac/c88aac20f04420608e62.js"></script>
		        
		        </div>

		        <div id="response" class="tab-content">
		        	<script src="https://gist.github.com/YupItsZac/0f987aef46ec0feb4b1c.js"></script>
		        </div>
		        
		    </div>
		</div>

		<hr/>

		<div class="fb-comments" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-width="100%" data-numposts="5"></div>

	</div>


{% endblock %}
