{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}

   
   <div class="row mbot">
		<div class="content col-md-8 col-md-offset-2">

		<h1>FreeGeo API: Making Requests -> Find Near Lake</h1>

		<p>The Find Near Lakes endpoint is intended to enable developers the ability to locate lakes near the given coordinates. This functionality is similar to Find Near Cities, Find Near Airports, Find Near Ports, Find Near Roads, and Find Near Railroads. This document assumes you've already authenticated your app and received a session token.</p>

		<p><b>Method:</b> POST | <b>Response:</b> JSON | Endpoint: <b><i>/api/location/near/lake</i></b></p>

		<h4>Parameters</h4>

		<p>The following parameters are <b><i>required</i></b> to make a successful request.</p>

		<p>
			<ul>
				<li><b>session</b> - The session token generated when your app was authenticated.</li>
				<li><b>lat</b> - The lattitude coord of the given point.</li>
				<li><b>lon</b> - The longitude coord of the given point.</li>
				<li><b>max</b> - The maximum distance to search.</li>
				<li><b>limit</b> - The maximum number of results to return.</li>
			</ul>
		</p>

		<hr/>

		<h4>Find Near Lakes - Example</h4>

		<div id="tabs-container">
		    <ul class="tabs-menu">
		        <li class="current"><a href="#php">PHP</a></li>
		        <li><a href="#python">Python</a></li>
		        <li><a href="#response">Response</a></li>
		    </ul>
		    <div class="tab">
		        <div id="php" class="tab-content">
		            <script src="https://gist.github.com/YupItsZac/c7f9cc45cbf14f482b09.js"></script>
		        </div>
		        <div id="python" class="tab-content">
		            <script src="https://gist.github.com/YupItsZac/efd9a8e66da29456191a.js"></script>
		        
		        </div>

		        <div id="response" class="tab-content">
		        	<script src="https://gist.github.com/YupItsZac/a2cec6e37b4e37f644f6.js"></script>
		        </div>
		        
		    </div>
		</div>

		<hr/>

		<div class="fb-comments" data-href="{{ app.request.getUriForPath(app.request.pathInfo) }}" data-width="100%" data-numposts="5"></div>

	</div>

{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}