{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

    <div class="container">
        <p>Docs: Home</p>
    </div>

</div>

<div class="mtop30"></div>

<div class="container">

    <div class="row">

        <div class="col-md-3">
            {% include 'YupItsZacFreeGeoBundle:Docs:sidebar.html.twig' %}
        </div>

        <div class="col-md-7">
            <h1>Documentation</h1>

            <p>The FreeGeo API is a collabortive effort to provide a free, open sourced geolocation API to developers.</p>

            <p>This documentation site exists to provide a detailed description and usage information for each endpoint provided by the FreeGeo API. Our goal is to make this documentation as accurate, and clear as possible, but we're only human. If you find a mistake or would like to help us improve the current docs, please hea dover to <a href="http://github.com/YupItsZac/FreeGeoAPI" target="_blank">github</a> and let us know.</p>
        </div>

        <div class="col-md-2"></div>

    </div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}

