{% extends 'base.html.twig' %}

{% block body %}
   
    <div class="jumbotron">
        <h1FreeGeo is Here</h1>
        <p>Hey there! The FreeGeo API is an API built by <a href="http://www.yupitszac.com" target="_blank">Zac Brown</a> based on the collected location items in the <a href="https://github.com/delight-im/FreeGeoDB" target="_blank">FreeGeoDB</a> Github repo by delight-im.</p>

        <p>This API is completely <b><i>FREE</i></b> and always will be. However, registration of your application is required to obtain a public/private keyset.</p>
        <p>
          <a role="button" href="../../components/#navbar" class="btn btn-lg btn-primary pull-right">Register App »</a>
        </p>

        <hr/>
      </div>


{% endblock %}
