{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

    <div class="container">
        <p>Developer Login</p>
    </div>

</div>

<div class="container">
    <div class="mtop30"></div>
    <div class="row">

        <div class="col-md-1"></div>

        <div class="col-md-10">

            {% if error %}
                <div class="alert alert-danger">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            <form action="{{ path('login_check') }}" method="post">
                <label for="username">Email:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />

                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />

                <input type="hidden" name="_target_path" value="/developer/dashboard" />

                <button type="submit">login</button>
                <hr/>
                <p><a href="{{ url('free_geo_developer_register') }}">Not Registered? Register here!</a>
            </form>

        </div>
        <div class="col-md-1"></div>
    </div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}
