{% extends 'base.html.twig' %}

{% block body %}

	<div class="mbot">
		<div class="col-md-4"></div>

		<div class="col-md-4">

	    	<h1>Register An App :)</h1>

	    	<p></p>

	    	{#<div class="col-md-6">#}

		    	{{ form(form) }}

	    	{#</div>#}
	   </div>

	   <div class="col-md-4"></div>
	</div>

{% endblock %}
