{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

	<div class="container">
		<p>App Registration</p>
	</div>

</div>

<div class="mtop30"></div>

<div class="container content">

	<div class="row">

		<div class="col-md-3">
			{% include 'YupItsZacFreeGeoBundle:Developer:sidebar.html.twig' %}
		</div>

		<div class="col-md-7">

			<h1>App Registration</h1>

			<p>Register your app below to start using the FreeGeo API!</p>

			<hr>

			{{ form(form) }}

		</div>

		<div class="col-md-2"></div>

	</div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}
