{% include 'YupItsZacFreeGeoBundle:Web:head.html.twig' %}
{% include 'YupItsZacFreeGeoBundle:Web:header.html.twig' %}


<div class="container-fluid miniBar whitefont">

    <div class="container">
        <p>App Registration</p>
    </div>

</div>

<div class="mtop30"></div>

<div class="container content">

    <div class="row">

        <div class="col-md-3">
            {% include 'YupItsZacFreeGeoBundle:Developer:sidebar.html.twig' %}
        </div>

        <div class="col-md-7">

            <h1>Registration Complete :)</h1>

            <p>Great! Your new app has been registered and you're now ready to get started!</p>

            <h3>Next Steps</h3>

            <ul>
                <li><b>Manage</b> your app from the <a href="{{ url('free_geo_developer_dashboard') }}">Developer Dashboard</a>. This is where you'll find your API credentials for all of your apps.</li>
                <li><b>Authenticate</b> your app session to start making requests. You can find more about app authentication <a href="{{ url('free_geo_authenticate') }}">here</a>.</li>
            </ul>

        </div>

        <div class="col-md-2"></div>

    </div>

</div>


{% include 'YupItsZacFreeGeoBundle:Web:footer.html.twig' %}
