<div class="sidebar-nav">
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="visible-xs navbar-brand">Dev Navigation</span>
        </div>
        <div class="navbar-collapse collapse sidebar-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ url('free_geo_developer_dashboard') }}">Developer Overiew</a></li>
                <li><a href="{{ url('free_geo_developer_app_converter') }}">App Conversion Tool</a></li>
                <li><a href="{{ url('free_geo_developer_app_register') }}">Register New App</a></li>
                <li><a href="{{ url('free_geo_documentation') }}">API Documentation</a></li>
                <li><a href="http://www.github.com/YupItsZac/FreeGeoAPI" target="_blank">Github Repository</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>