body {
    /*font-family: 'Slabo 27px', serif;*/
    font-family: "helvetica neue",helvetica,arial,"lucida grande",sans-serif;
    color: #141823;
    background-color: #e9eaed;
    position: relative;
}

h1 {
    font-size: 24px;
    font-weight: normal;
    line-height: 32px;
    margin-bottom: 20px;
    color: #4e5665;
}

.content {
    background-color: #fff;
    padding: 32px;
}

h3 {
    color: #4e5665;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 10px;
}

.mbot {
    margin-top: 70px;
    margin-bottom: 80px;
}

h4 {
    margin-top: 35px;
    margin-bottom: 20px;
}

.tabs-menu {
    height: 30px;
    float: left;
    clear: both;
    list-style-type: none;
}

.tabs-menu li {
    height: 30px;
    line-height: 30px;
    float: left;
    margin-right: 10px;
    background-color: #0000ff;
    border-top: 1px solid #d4d4d1;
    border-right: 1px solid #d4d4d1;
    border-left: 1px solid #d4d4d1;
}

.tabs-menu li.current {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #fff;
    z-index: 5;
}

.tabs-menu li a {
    padding: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none; 
}

.tabs-menu .current a {
    color: #2e7da3;
}

.tab {
    border: 1px solid #d4d4d1;
    background-color: #fff;
    float: left;
    margin-bottom: 20px;
    width: auto;
}

.tab-content {
    width: 660px;
    padding: 20px;
    display: none;
}

#tab-1 {
 display: block;   
}

form{
    font: 95% Arial, Helvetica, sans-serif;
    max-width: 400px;
    margin: 10px auto;
    padding: 16px;
    background: #F7F7F7;
}
form h1{
    background: #43D1AF;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: #fff;
    margin: -16px -16px 16px -16px;
}
form input[type="text"],
form input[type="date"],
form input[type="datetime"],
form input[type="email"],
form input[type="number"],
form input[type="search"],
form input[type="time"],
form input[type="url"],
form input[type="password"],
form textarea,
form select
{
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    background: #fff;
    margin-bottom: 4%;
    border: 1px solid #ccc;
    padding: 3%;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
}
form input[type="text"]:focus,
form input[type="date"]:focus,
form input[type="datetime"]:focus,
form input[type="email"]:focus,
form input[type="number"]:focus,
form input[type="search"]:focus,
form input[type="time"]:focus,
form input[type="url"]:focus,
form textarea:focus,
form select:focus
{
    box-shadow: 0 0 5px #43D1AF;
    padding: 3%;
    border: 1px solid #43D1AF;
}

form input[type="submit"],
form input[type="button"], button{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background: #337ab7;
    border-bottom: 2px solid #2e6da4;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;   
    color: #fff;
}
form input[type="submit"]:hover,
form input[type="button"]:hover{
    background: #2EBC99;
}

.navbar-default {
    background-color: #4e4d4a;
    border-color: #4e4d4a;
    color: #fff;
}

ul.nav a:hover { color: #fff !important; }

.freelogo {
    max-width: 150px;
    max-height: 50px;
}

.geobanner {
    width: 100%;
    max-height: 200px;
}

.do {
    max-width: 200px;
    max-height: 40px;
}

.footer {
    background-color: #4e4d4a;
    bottom: 0;
    height: 60px;
    width: 100%;
    color: #fff;
    padding: 10px;
}

#register_form {
    margin-top: 80px;
}

.serviceOnline {
    background-color: #00FF00;
}

.serviceOffline {
    background-color: #FF3232;
}

.redBackground {
    background-color: #FF3232;
}

.margin-top-spacing {
    margin-top: 10%;
}

.hiText {
    font-size: 28px;
}

.noApps {
    font-size: 28px;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.spaceRight {
    margin-right: 20px;
}